body {
    background-color: #000;
    color: #fff;
    font-family: "Funnel Display", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 1s ease-in-out;
}